@model Sweet.Models.Ticket

<div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Resolve)
    @Html.EnumDropDownListFor(m => m.Resolve, new { @class = "form-control" })
</div>

@Html.HiddenFor(m => m.Id)
<input type="submit" class="btn btn-primary" value="Submit" />