@model IEnumerable<Sweet.Models.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>

<input id="Checkbox1" type="checkbox" />Open/Closed
<p>
    @Html.ActionLink("Create Ticket", "New")
</p>
<ul>
    @foreach (var ticket in Model)
    {
        <li>
            @ticket.Title (@ticket.Resolve)
            @Html.ActionLink("Edit", "Edit", new { id = ticket.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = ticket.Id })
        </li>
    }
</ul>

